<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PATH_SOURCE" value="C:\DCH_CONVERT_DATA\DCH_CONVERT_POD\Inbound"/>
    <!--P_601_E2A_RCV-->
    <add key="PATH_TARGET" value="C:\DCH_CONVERT_DATA\DCH_CONVERT_POD\OutBound"/>
    <add key="PATH_BAK" value="C:\DCH_CONVERT_DATA\DCH_CONVERT_POD\BackUp"/>
  </appSettings>
</configuration>