<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PATH_SOURCE" value="C:\DCH_CONVERT_DATA\DCH_CONVERT_POD\Inbound"/>
    <!--P_601_E2A_RCV-->
    <add key="PATH_TARGET" value="C:\DCH_CONVERT_DATA\DCH_CONVERT_POD\OutBound"/>
    <add key="PATH_BAK" value="C:\DCH_CONVERT_DATA\DCH_CONVERT_POD\BackUp"/>
    <add key="PATH_Error" value="C:\DCH_CONVERT_DATA\DCH_CONVERT_POD\Error"/>
    
    <add key="HEAD" value="ITF-POD-Head"/>
    <add key="TRAN" value="ITF-POD-Tran"/>
    <add key="AMT" value="ITF-UpdO-Amt"/>

    <!--Mail Error-->
    <add key="MailFrom" value="SurasakNaka@DCH-Holdings.com"/>
    <add key="MailTo" value="SurasakNaka@DCH-Holdings.com"/>
    <add key="SMTP" value="10.15.52.6"/>
    <add key="sSubjectmail" value="Error Convert POD"/>
  </appSettings>
</configuration>